.interests-container {
    /* background: url('../../public/images/Image 1.JPEG') center center/cover no-repeat; */
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }
  
  .interests-container > h1 {
    color: #fff;
    font-size: 50px;
    /* margin-top: -200px; */
  }
  
  .interests-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
    margin-left: 5cm;
    margin-right: 5cm;
    width: fit-content;
    text-align: justify;
  }

  @media screen and (max-width: 900px){
    .interests-container > p {
      margin-top: 8px;
      color: #fff;
      font-size: 16px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
      margin-left: 2cm;
      margin-right: 2cm;
      width: fit-content;
      /* align-items: flex-start; */
    }
  }